* {
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

.dark-grey {
    color: #666666;
}

.grey {
    background-color: #d8d8d8;
}

.light-grey {
    color: #f5f5f5;
    background-color: #f5f5f5;
}

.black {
    color: black;
    background-color: black;
}

/*html,body {
	/*height: 100%; /*Firefox needs this line...
}*/

:root {
    --border-height: 70px;
    --std-shadow: 0 0 5px #0003;
}

*:focus {
    outline: none;
}

.bold {
    font-weight: bold;
}

.border {
    width: 100%;
    height: var(--border-height);
    box-shadow: 0 0 10px #0003;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
}

.shadow {
    box-shadow: var(--std-shadow);
}

.border h2,
h3 {
    width: fit-content;
    line-height: var(--border-height);
    ;
    display: inline-block;
    padding: 0 30px;
}

.border .leftAlign {
    position: absolute;
    left: 0;
    padding-left: 30px;
}

.border .rightAlign {
    position: absolute;
    right: 0;
    padding-right: 30px;
}

.border button {
    border: none;
    outline: none;
    cursor: pointer;
    float: right;
    height: var(--border-height);
    ;
    padding: 0 20px;
}

.border button:hover {
    text-decoration: underline;
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    position: relative;
    padding: 0 2%;
}