* {
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

.dark-grey {
    color: #666666;
}

.grey {
    background-color: #d8d8d8;
}

.light-grey {
    color: #f5f5f5;
    background-color: #f5f5f5;
}

.black {
    color: black;
    background-color: black;
}

/*html,body {
	/*height: 100%; /*Firefox needs this line...
}*/

:root {
    --border-height: 70px;
    --std-shadow: 0 0 5px #0003;
}

*:focus {
    outline: none;
}

.bold {
    font-weight: bold;
}

.border {
    width: 100%;
    height: var(--border-height);
    box-shadow: 0 0 10px #0003;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
}

.shadow {
    box-shadow: var(--std-shadow);
}

.border h2,
h3 {
    width: fit-content;
    line-height: var(--border-height);
    ;
    display: inline-block;
    padding: 0 30px;
}

.border .leftAlign {
    position: absolute;
    left: 0;
    padding-left: 30px;
}

.border .rightAlign {
    position: absolute;
    right: 0;
    padding-right: 30px;
}

.border button {
    border: none;
    outline: none;
    cursor: pointer;
    float: right;
    height: var(--border-height);
    ;
    padding: 0 20px;
}

.border button:hover {
    text-decoration: underline;
}

.wrapper {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    position: relative;
    padding: 0 2%;
}

.goback {
    text-decoration: none;
}

.goback:hover {
    cursor: pointer;
    color: black;
}

.titleWrapper {
    width: 100%;
    height: 180px;
    padding-top: 110px;
    background: #f5f5f5;
}


.title {
    padding-bottom: 15px;
    font-size: 1.2em;
    font-weight: 700;
    width: fit-content;
    margin: -24px auto;
}

.underline {
    border-bottom: 4px solid black;
}

.back-icon {
    font-size: 1.1em;
    vertical-align: middle;
}


.searchboxbox {
    width: 25%;
    height: 100%;
    padding: 20px 25px;
    display: inline-table;
    overflow: hidden;
}

@media screen and (max-width: 700px) {
    .searchboxbox {
        width: 50%;
    }
}

.searchboxbox p {
    color: #666;
    font-weight: bold;
    margin: 10px 0;
}

input {
    color: #333;
    padding: 7px 10px;
    border-radius: 4px;
    width: 220px;
    border: #bbb 1px solid;
    font-size: 0.9em;
    display: inline-block;
}
input[type=number] {
    width: 70px;
}

.search-button {
    height: 32px;
    text-align: center;
    background-color: #11AE6B;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    width: 100px;
    border: none;
    float: right;
}

.search-button:hover {
    background-color: #13BD75;
    cursor: pointer;
    border: none;
}

.search-button img {
    width: 17px;
    height: 17px;
    margin-left: 10px;
    transform: translate(0, 5%);
}

.bold-text {
    color: #666;
    font-weight: bold;
    margin: 10px 0;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.2em;
    width: 1.2em;
    background-color: #eee;
    border-radius: 5px;
    padding: 2px;
}

.checkbox-container:hover input~.checkmark {
    background-color: #ccc;
}

.checkbox-container input:checked~.checkmark {
    background-color: #13BD75;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    border-radius: 1px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}