.searchbox {
    border-radius: 4px;
    box-shadow: 0 0 10px #0003;
    margin: 100px auto 0 auto;
    width: 500px;
    padding: 0 20px;
    transition: 0.3s;
}

.searchboxbox > select {
    width: 100%;
    font-size: 0.8em;
    height: 30px;
    background-color: white;
    color: #666;
}

.searchboxbox .taggar {
    border-radius: 4px;
    color: #666;
    border: #bbb 1px solid;
    padding: 5px 10px;
    display: inline-table;
    margin: 5px 5px 0 0;
}

.searchboxbox .taggar:hover {
    background: #ddd;
    cursor: pointer;
}

.searchbox .checkboxes {
    margin-top: 30px;
}

#avancerat {
    width: 100%;
    border-top: 2px solid #0000;
    height: 0px;
    transition: 0.3s;
    overflow: hidden;
}

#showMoreLess {
    text-align: center;
    font-weight: 300;
    cursor: pointer;
    width: fit-content;
    margin: auto;
    opacity: 0.6;
}

#showMoreLess:hover {
    opacity: 1;
}

.courses {
    margin: 50px auto;
}

table {
    /*width: 95%;*/
    border-collapse: collapse;
}

tbody {
    font-size: 0.8em;
}

.course {
    height: 40px;
    box-shadow: var(--std-shadow);
}

tr {
    border-radius: 5px;
}

tr>td {
    padding-bottom: 1em;
}

thead>tr>td {
    padding-right: 15px;
}

tbody:before {
    line-height: 4px;
    content: "-";
    color: white;
    display: block;
}

tbody td {
    padding: 5px;
}

td.grey {
    background: #f1f1f1;
}

td select {
    border: none;
    font-size: 1em;
    text-align: center;
    margin: auto;
    display: block;
    margin: 0 auto;
    padding: 0;
    background-color: white;
}

td a {
    color: black;
}

td select.grey {
    background-color: #f1f1f1;
}

.kursnamn {
    max-width: 300px;
    min-width: 200px;
}

.kursnamn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.period {
    /* max-width: 80px; */
}

.year {
    max-width: 120px;
}

.svar {
    min-width: 100px;
}

.godkandAndel {
    width: 100px;
}

.taggar {
    position: relative;
}

.redigera {
    position: absolute;
    top: 12px;
    right: -60px;
}
.redigera:hover {
    text-decoration: underline;
    cursor: pointer;
}

.saknas {
    background-color: #FDD7D8;
    color: #DF0A0A;
}

.saknas-light {
    background-color: #FFEAEB;
    color: #DF0A0A;
}

.spacer {
    height: 10px;
    background: transparent;
}

.warning {
    color: #DF0A0A;
}

.good {
    color: #11AE6B;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}