.section {
    width: 100%;
    padding: 50px 0;
}

.section h2 {
    font-size: 1.2em;
}

.title-underline {
    height: 5px;
    margin-top: 10px;
}

.cards-wrapper {
    margin-top: 40px;
    text-align: center;
}

.square-card {
    position: relative;
    width: 35%;
    min-width: 300px;
    height: 370px;
    margin: 50px 50px 50px 20px;
    display: inline-block;
    vertical-align: middle;
}

.small-cards-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.small-card {
    min-width: 350px;
    height: 130px;
    margin: 20px;
}

.progress-wrapper {
    width: 90%;
}

#progress-title-1 {
    font-weight: 700;
}

#progress-title-2 {
    font-weight: 700;
}

.progress-background {
    width: 100%;
    height: 10px;
    background-color: #d8d8d8;
    border-radius: 5px;
}

.progress {
    width: 50%;
    height: 10px;
    background-color: #11AE6B;
    border-radius: 5px;
}

.progress-numbers {
    color: #666;
    width: 100%;
}

.card {
    position: relative;
    width: 100%;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
}

.card-header {
    width: 100%;
    height: 50px;
    padding-left: 15px;
    line-height: 50px;
}

.card-title {
    font-weight: 700;
}

.nr-of-answers {
    position: absolute;
    top: 59%;
    left: 53%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-bottom: -15px;
}

.chart-wrapper {
    height: 70%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.course-reports {
    width: 300px;
    float: left;
    margin-right: 150px;
}

.course-evaluations {
    width: 400px;
    display: inline-block;
}

.list-title {
    width: fit-content;
    border-bottom: 4px solid #d8d8d8;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.list-subtitle {
    margin-top: 20px;
    font-weight: 700;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #666;
}

.list-divider {
    height: 1px; 
    width: 100%;
    background-color: #d8d8d8;
}

.list {
    margin: 10px;
}

.list>p {
    color: #11AE6B;
    text-decoration: underline;
}

.list>p:hover {
    cursor: pointer;
}

